.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border:2px solid;
border-radius: 10px;
width: 40%;
margin: 0 auto;
padding: 20px;
background-color: rgb(123, 222, 210);

}
